*
{
    margin: 0;
    padding: 0;
}
.natural-scenary-img img
{
    height: 92px;
    margin: 10px 0;
    cursor: pointer;
    display: block;
    opacity: .6;
}
.natural-scenary-img img:hover
{
    opacity: 1;
}
.natural-scenary-img
{
    float: left;
    margin-top: 40px;
}
.naturalscenary
{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
.img-container img
{
    height:5oopx
}
.img-container
{
    float: right;
    padding: 50px;
}

